/*

--- TYPOGRAPHY SYSTEM

      FONT SIZE SYSTEM (px)
        10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- WHITESPACE

      SPACING SYSTEM (px)
        2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 

*/

:root {
  --color-primary: #c12d2a;
  --color-accent: #e76c1f;
  --test: ;
  --color-bg: #0f0f0f;
  --color-text-primary: #363534;
  --color-text-secondary: #b3b3b3;
  --color-menu-item-bg: #010101;
  --color-basket-bg: white;
  --color-basket-item-bg: #fdeadc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: var(--color-bg);
}

.content-width {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  background-color: var(--color-primary);
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 24px;
  padding-block: 8px;
  position: relative;
}

.logo-header {
  width: 70px;
  height: 50px;
}

.header-inner button {
  width: 40px;
  stroke: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.burger-icon {
  width: 40px;
}

.header-inner ul {
  list-style: none;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img {
  height: 50vh;
  width: 100%;
  object-fit: cover;
  position: relative;
  padding-top: 100px;
}

.menu-section {
  margin-top: 100px;
  flex: 2;
}

.category {
  background-color: var(--color-accent);
  padding: 12px;
}

.layout {
  display: flex;
  align-items: flex-start;
}

.left-side {
  flex: 2;
}
